.button-container .btn {
    margin-top: 20px;
    margin-left: 20px;
}

#img-preview {
    width: 600px;
    display: block;
    margin: 20px 0px;
}

.img-fluid {
    width: 300px;
}

.form-custom {
    display: inline-block;
}

.width {
    width: 200px;
}

.error-message {
    color: red;
    width: 100%;
    font-size: 16px;
}

.focus {
    border: 1px solid red;
}
